.skills{
    min-height: 500px;
    /* background-color: rgb(53, 114, 199); */
    width: 500px;
    margin: 60px auto;
    color: #fff;
    position: relative;
    z-index: 5;
}
.skills li{
    margin: 20px 0;
    text-transform: uppercase;
}

.skills__title{
    text-align: center;
    font-size: 22px;
    padding-top: 25px;
    text-transform: uppercase;
    font-weight:700;
}

canvas{
    z-index: -5;
    width: 1366px;
    height: 588px;
}
/* .container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    width: 33.33%;
} */


.skills__items{
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    
    width: 33.33%; */
    margin-top: 70px;
}

@media (max-width: 360px) {
    .skills{
        width: 300px;
    }
}