.contacts{
    min-height: 100vh;
    background-color: rgb(153, 14, 19);
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.contacts__title{
    text-align: center;
    padding-top: 130px;
    margin-bottom: 30px;
    font-size: 22px;
}
.contacts__form{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contacts__form input{
    width: 500px;
    margin-top: 5px;
    background: #252527;
    border: 1px solid #4a4a4a;
    font-size: 12px;
    padding: 10px 0 10px 5px;
    border-radius: 0;
    outline: none;
}
textarea{
    width: 498px;
    margin-top: 5px;
    background: #252527;
    border: 1px solid #4a4a4a;
    font-size: 12px;
    padding: 10px 0 10px 5px;
    border-radius: 0;
    outline: none;
}
.contacts__btn{
    display: block;
    width: 100px;
    border: none;
    border-radius: 25px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 5px;
    outline: none;
    text-transform: uppercase;
    transition: background-color .3s linear;
}
.contacts__btn:hover{
    cursor: pointer;
    background-color: rgba(53, 153, 78, .7);
}