.contacts{
    min-height: 100vh;
    background-color: #1e1b1c;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.container{
    position: relative;
    width: 100%;
    min-height: 200px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px 20px;
    background: rgba(255,255,255, 0.05);
    box-shadow: 0 5px 15px rgba(0,0,0,1);
}
.container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255, .1);
    pointer-events: none;
}
.container::after{
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background: linear-gradient(45deg, #ff0047, #6eff00);
    pointer-events: none;
    animation: animate 10s linear infinite;
}

@keyframes animate {
    0% {
        filter: blur(60px) hue-rotate(0deg);
    }
    100% {
        filter: blur(60px) hue-rotate(360deg);
    }
}

.contacts__items{
    /* width: 100%; */
    
    
}
.contacts__items input{
    width: 50%;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #fff;
    outline: none;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
.contacts__items textarea{
    width: 50%;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #fff;
    outline: none;
    display: block;
    margin: 0 auto;
}
::placeholder{
    color: #eee;
}
.contacts__title{
    text-align: center;
    /* padding-top: 13px; */
    /* margin-bottom: 30px;  */
    font-size: 22px;
    color: rgb(255, 255, 255);
    z-index: 999;
}
.contacts__form{
    /* display: flex;
    align-items: center;
    flex-direction: column; */
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 60px 0;
    box-sizing: border-box;
    z-index: 1;
    top: 0;
}
.contacts__form input{
    /* width: 500px;
    margin-top: 5px;
    background: #252527;
    border: 1px solid #4a4a4a;
    font-size: 12px;
    padding: 10px 0 10px 5px;
    border-radius: 0;
    outline: none; */
}
textarea{
    /* width: 498px;
    margin-top: 5px;
    background: #252527;
    border: 1px solid #4a4a4a;
    font-size: 12px;
    padding: 10px 0 10px 5px;
    border-radius: 0;
    outline: none; */
}
.contacts__btn{
    display: block;
    width: 100px;
    border: none;
    border-radius: 25px;
    margin: 0 auto;
    margin-top: 150px;
    padding: 5px;
    outline: none;
    text-transform: uppercase;
    background: #fff;
    color: #000;
    transition: background-color .3s linear;
    z-index: 99;
}
.contacts__btn:hover{
    cursor: pointer;
    background-color: rgba(53, 153, 78, .7);
}